@{
    ViewBag.Title = "History";
}
<div class="mini-toolbar" style="padding: 0px; border-bottom: 0;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;">
            </td>
            <td style="white-space: nowrap;">
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit" id="GridArea">
    <div id="dataGrid" url="GetYearList?Year=@Request["Year"]&Version=@Request["Version"]" class="mini-datagrid" style="width: 100%; height: 100%;"
        idfield="ID" multiselect="false" showpager="false" allowcelledit="true" allowcellselect="true"
        editnextonenterkey="true" editnextrowcell="true" showsummaryrow="true" ondrawsummarycell="onDrawSummaryCell" onload="onDataGridLoad">
        <div property="columns">
            <div type="indexcolumn" width="35px">
            </div>
            <div field="BelongYear" name="BelongYear" width="100" headeralign="center" align="center" allowsort="true">
                年度</div>
            <div field="Version" name="Version" width="100" headeralign="center" align="center" allowsort="true">
                版本号</div>
            <div field="CreateDate" name="CreateDate" width="100" headeralign="center" dateformat="yyyy-MM-dd"
                allowsort="true" align="center">
                版本时间</div>
            @{
                var list = ViewBag.IndicatorConfig as List<Market.Logic.Domain.S_KPI_IndicatorConfig>;
                if (list != null)
                {
                    foreach (var item in list)
                    {
                <div name="@item.IndicatorCode" summaryType="sum" field="@item.IndicatorCode" datatype="currency" headeralign="center" width="120" align="right">
                    @item.IndicatorName
                </div>
                    }
                }                        
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    @Html.GetEnum(typeof(Market.Logic.YesOrNo))
    var writeFields = "@Html.Raw(ViewBag.WriteFields)";
</script>
<script type="text/javascript">
    addGridEnum("dataGrid", "CurrentVersion", "YesOrNo");
    function onDrawSummaryCell(e) {
        var result = e.result;
        e.cellStyle = "text-align:right; color:Brown";
    }


    function onDataGridLoad(e) {
        var dataGrid = mini.get("dataGrid");
        dataGrid.mergeColumns(["BelongYear", "CreateDate", "Version", "CurrentVersion"]);
        dataGrid.frozenColumns(0, 3)
    }
</script>
