@{
    ViewBag.Title = "YearHistory";
}
<div class="mini-toolbar" style="padding: 0px; border-bottom: 0px;">
    <table style="width: 100%;">
        <tr>
            <td style="white-space: nowarp; text-align: right;">
                <input id="key" class="mini-buttonedit gw-searchbox" emptytext="请输入用户名称" onenter="quickSearch('UserName');"
                    onbuttonclick="quickSearch('UserName');" />
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit" id="GridArea">
    <div id="dataGrid" url="GetYearList?Year=@Request["Year"]&Version=@Request["Version"]" class="mini-datagrid" style="width: 100%; height: 100%;"
        idfield="ID" multiselect="false" showpager="false" allowcelledit="true" allowcellselect="true"
        editnextonenterkey="true" editnextrowcell="true" showsummaryrow="true" 
        ondrawsummarycell="onDrawSummaryCell" onload="onDataGridLoad">
        <div property="columns">
            <div type="indexcolumn" width="20px">
            </div>
            <div field="BelongYear" name="BelongYear" width="60" headeralign="center" align="center" allowsort="true">
                年度</div>
            <div field="UserID" name="UserID" displayfield="UserName" width="100" headeralign="center" align="center">
                用户名称
            </div>
            @{
                var list = ViewBag.IndicatorConfig as List<Market.Logic.Domain.S_KPI_IndicatorConfig>;
                if (list != null)
                {
                    foreach (var item in list)
                    {
                <div name="@item.IndicatorCode" summaryType="sum" field="@item.IndicatorCode" vtype="required;float;" datatype="currency" headeralign="center" width="120" align="right">
                    @item.IndicatorName
                </div>
                    }
                }                        
                   
            }
        </div>
    </div>
</div>
<script type="text/javascript">
@Html.GetEnum("Market.BusiniessCategory");
@Html.GetEnum("Market.TOrF")
</script>
<script type="text/javascript">
    addGridEnum("dataGrid", "CurrentVersion", "TOrF");
    addGridEnum("dataGrid", "BusiniessCategory", "BusiniessCategory");
    function OnDrawingCell(e) {
        e.cellStyle = "background:#ecedef";
    }
    function onDrawSummaryCell(e) {
        var result = e.result;
        e.cellStyle = "text-align:right; color:Brown";
    }
    function onDataGridLoad(e) {
        var sender = e.sender;
        sender.mergeColumns(["BelongYear", "Version", "CreateDate", "CurrentVersion", "UserID"]);
        sender.frozenColumns(0, 5)
    }

</script>
