@{
    ViewBag.Title = "Edit";
}
<div id="formlayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div region="north" height="32" showspliticon="false" showheader="false" allowresize="false" splitsize="0"
        style="border: 0;">
        <div class="mini-toolbar" style="padding: 0px; border-left: 0; border-top: 0; border-right: 0;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;">
                        <a class="mini-button" iconcls="icon-save" onclick="save();" plain="true">保存</a>
                        <a class="mini-button" iconcls="icon-cancel" onclick="closeWindow()" plain="true">取消</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div title="center" region="center" style="border: 0;">
        <div id="dataForm">
            <input name="ID" class="mini-hidden" />
            <div style="padding-left: 20px; padding-top: 10px;">
                <table width="100%" border="0" cellpadding="0" cellspacing="2">
                    <tr class="hideRow">
                        <td width="15%">
                        </td>
                        <td width="35%;" style="padding-right: 40px;">
                        </td>
                        <td width="15%">
                        </td>
                        <td width="35%;" style="padding-right: 40px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            项目名称
                        </td>
                        <td colspan="3" style="padding-right: 40px;">
                            <input name="Name" style="width: 100%" class="mini-textbox" required="true" vtype="maxLength:500" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            客户名称
                        </td>
                        <td colspan="3" style="padding-right: 40px;">
                            <input name="Customer" id="Customer" style="width: 100%" textname="CustomerName" class="mini-buttonedit"
                                required="true" vtype="maxLength:200" allowinput="false" onvaluechanged="OnCustomerChanged" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            项目编号
                        </td>
                        <td style="padding-right: 40px;">
                            <input name="Code" style="width: 100%" class="mini-textbox" required="true" vtype="maxLength:50" />
                        </td>
                        <td>
                            项目阶段
                        </td>
                        <td style="padding-right: 40px;">
                            <input name="Phase" class="mini-checkboxlist" style="width: 100%;" textfield="text" valuefield="value"
                                data="Phase" allowinput="false" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            项目规模
                        </td>
                        <td style="padding-right: 40px;">
                            <input name="ProjectScale" class="mini-combobox" style="width: 100%;" textfield="text" valuefield="value"
                                data="ProjectScale" allowinput="false" />
                        </td>
                        <td>
                            项目性质
                        </td>
                        <td style="padding-right: 40px;">
                            <input name="ProjectClass" class="mini-combobox" style="width: 100%;" textfield="text" valuefield="value"
                                data="ProjectProperties" allowinput="false" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            项目类型
                        </td>
                        <td style="padding-right: 40px;">
                            <input name="ProjectType" class="mini-combobox" style="width: 100%;" textfield="text" valuefield="value"
                                data="ProjectType" allowinput="false" />
                        </td>
                        <td>
                            所属国家
                        </td>
                        <td style="padding-right: 40px;">
                            <input class="mini-combobox" name="Country" id="Country" style="width: 100%;" valuefield="value" textfield="text"
                                data="Country" shownullitem="true" onvaluechanged="CountryChanged" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            所属省份
                        </td>
                        <td style="padding-right: 40px;">
                            <input class="mini-combobox" name="Province" id="Province" style="width: 100%;" valuefield="value" textfield="text"
                                shownullitem="true" onvaluechanged="ProvinceChanged" />
                        </td>
                        <td>
                            所属城市
                        </td>
                        <td style="padding-right: 40px;">
                            <input class="mini-combobox" name="City" id="City" style="width: 100%;" valuefield="value" textfield="text"
                                shownullitem="true" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            建设地点
                        </td>
                        <td colspan="3" style="padding-right: 40px;">
                            <input name="BuildAddress" style="width: 100%" class="mini-textbox" vtype="maxLength:500" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            责任部门
                        </td>
                        <td style="padding-right: 40px;">
                            <input name="ChargerDept" textname="ChargerDeptName" style="width: 100%;" class="mini-buttonedit" allowinput="false"
                                required="true" />
                        </td>
                        <td>
                            项目负责人
                        </td>
                        <td style="padding-right: 40px;">
                            <input name="ChargerUser" textname="ChargerUserName" style="width: 100%;" class="mini-buttonedit" required="true" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            商务部门
                        </td>
                        <td style="padding-right: 40px;">
                            <input name="MarketDept" textname="MarketDeptName" style="width: 100%;" class="mini-buttonedit" allowinput="false" />
                        </td>
                        <td>
                            商务负责人
                        </td>
                        <td style="padding-right: 40px;">
                            <input name="BusinessChargerUser" textname="BusinessChargerUserName" style="width: 100%;" class="mini-buttonedit" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            其它部门
                        </td>
                        <td style="padding-right: 40px;">
                            <input name="OtherDept" textname="OtherDeptName" style="width: 100%;" class="mini-buttonedit" allowinput="false" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            备注
                        </td>
                        <td colspan="3" style="padding-right: 40px;">
                            <input name="Remark" class="mini-textarea" style="width: 100%; height: 150px;" vtype="maxLength:500" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            相关附件
                        </td>
                        <td colspan="3" style="padding-right: 40px;">
                            <span name="Attachment" class="mini-multifile"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td style="padding-right: 40px;">
                        </td>
                        <td>
                        </td>
                        <td style="padding-right: 40px;">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
@Html.GetEnum("System.Country")
@Html.GetEnum("Market.ProjectType")
@Html.GetEnum("Market.ProjectScale")
@Html.GetEnum("Market.ProjectProperties")
@Html.GetEnum("Project.Phase")
          
</script>
<script type="text/javascript">
    addSingleUserSelector("ChargerUser");
    addSingleUserSelector("BusinessChargerUser");
    addSingleOrgSelector("ChargerDept");
    addSingleOrgSelector("MarketDept");
    addSingleOrgSelector("OtherDept");
    var listParam = {
        returnParams: "value:ID,text:Name,Province:Province"
    }
    addSelector("Customer", "../Selector/CustomerSingle", listParam); 
    
</script>
<script type="text/javascript">
    /******************国家省份城市***************************/
    function onFormSetData(data) {
        if (data.Country == undefined || data.Country == "") {
            mini.get("Country").setValue("中国");
        }
        else {
            mini.get("Country").setValue(data.Country);
        }
        if (mini.get("Country").getValue() == "中国") {
            CountryChanged();
            if (data.Province != undefined && data.Province == "") {
                mini.get("Province").setValue(data.Province);
                ProvinceChanged();
            }
        }
    }

    //国家改变
    function CountryChanged() {
        var value = mini.get("Country").getValue();
        //国家值为空时，省份、城市值置空。
        if (value == "" || value == null || value == undefined) {
            mini.get("Province").setValue("");
            mini.get("City").setValue("");
        }
        //重置省份数据源
        mini.get("Province").setUrl("/Market/Common/GetProvinceEnum?Country=" + escape(value));
        //重置城市数据源
        ProvinceChanged();
    }
    //省份改变
    function ProvinceChanged() {
        var value = mini.get("Province").getValue();

        //省份值为空时，城市值置空。
        if (value == "" || value == null || value == undefined) {
            mini.get("City").setValue("");
        }
        //重置城市数据源
        mini.get("City").setUrl("/Market/Common/GetCityEnum?Province=" + escape(value));
    }
    /******************************************************/


    function OnCustomerChanged(e) {
        //客户改变要触发省份改变事件
        ProvinceChanged();
    }


</script>
